<!DOCTYPE html>
<html>
<head>
	<title> Customer Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="container b1">
			<div class="col-md-6">
				<div style="margin: 20%;">
					<h3 style="text-align: center;color: #2C4AB0;font-weight: 600;font-size: 20px;">CUSTOMER LOGIN</h3>
					<img src="/images/login.png" style="height: 100px;border-radius: 50%;margin-left: 25%;margin-top:2%;margin-bottom: 3%;">
					<form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
      				<button type="submit" class="btn btn-block" style="background: rgb(50,50,198);
background: linear-gradient(117deg, rgba(50,50,198,0.5914740896358543) 35%, rgba(212,66,8,0.5522584033613445) 100%);font-weight: 600;color:#fff;">
      					<i class="fa fa-lock"></i> &nbsp;&nbsp;&nbsp;LOGIN
      				</button>
                    </form>
					<a href="{%url 'cregister'%}">
      				<button class="btn btn-block" style="background: rgb(50,198,67);margin-top:10px;
background: linear-gradient(117deg, rgba(50,198,67,0.5914740896358543) 35%, rgba(145,8,212,0.5522584033613445) 100%);;font-weight: 600;color:#fff;">
      					<i class="fa fa-user-plus"></i> &nbsp;&nbsp;&nbsp;SIGNUP AS CUSTOMER
      				</button></a>

				</div>
			</div>
			<div class="col-md-6">
				<img src="/images/elogin.jpg" style="height: 300px;margin-top: 50px;margin-left:-10px;">
				<center>
					<a href="{%url 'signin'%}" style="font-weight: 600;color: #2C4AB0;font-size: 15px; margin-top: 20px;">Login as Admin</a>
				</center>
			</div>
		</div>

	</div>
	<div class="col-md-2"></div>

</body>
<style type="text/css">
	body{
		background: url('/images/loginback.jpg')no-repeat center fixed;
    background-size: cover;
	}
	.b1{
		margin-top: 10%;
		width: 100%;
		border-style: solid;
		border-radius: 20px;
		border-color: #fff;
		border-width: 0.5px;
		background: #fff;
	}
</style>
</html>
